@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: sans-serif;
}

/* a:hover { */
  /* color: white; */
  /* background-color: black; */
/* } */

.film-strip {
  --s: 12px; /* control the size */
  --c: #222;

  width: calc(50 * var(--s));
  /* aspect-ratio: 25; */
  background: conic-gradient(at 50% var(--s), var(--c) 75%, #0000 0) 0 0 / calc(2 * var(--s))
    calc(100% - var(--s)) padding-box;
  border: var(--s) solid var(--c);
  border-radius: 20px;
  box-sizing: content-box;
  padding: 20px 0px 20px 10px;
  /* filter: sepia(1) brightness(0.9) grayscale(.2); */
}
